<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml" class="loading">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<meta name="viewport" content="width=device-width, initial-scale=0.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
<meta name="keywords" content="" />
<meta name="description" content="横琴企业专属网页"/>
<meta name="author" content="" />
<link rel="stylesheet" type="text/css" href="../css/style.css" />
<meta content="yes" name="apple-mobile-web-app-capable"/>
<meta content="black" name="apple-mobile-web-app-status-bar-style"/>
<meta content="telephone=no" name="format-detection"/>
<script>
var logined = 0
</script>
<title>横琴企业专属网页</title>
</head>
<body>
<script>
var now_page = 1,
search_value = '';



</script>
		
	<div id="header">
		<div class="wrap">
			<!-- <i class="menu_open"></i> -->
			<div class="logo" style="color: white;"><h3>横琴企业专属网页</h3></div>
			<!-- <i class="search_open"></i> -->
		</div>
		<div class="logo_msk"></div>
	</div>
	<div id="container">
		<div id="content">	
			<div id="list">
				<div class="pd10">
					<div id="tip">
							请点击公众号“账号绑定”栏目，<br />输入横琴企业专属网页账号，<br />进行密码绑定！						
					</div>
				</div>
			</div>
		</div>
<!--		<div class="push_msk"></div>-->
	</div>
	<script language="javascript" src="../templates/gongzhonghao/js/zepto.min.js"></script>
	<script language="javascript" src="../templates/gongzhonghao/js/fx.js"></script>
	<script language="javascript" src="../templates/gongzhonghao/js/script.js"></script>
</body>
</html>