<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" class="loading">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<meta name="viewport" content="width=device-width, initial-scale=0.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
<meta name="keywords" content="" />
<meta name="description" content="横琴企业专属网页"/>
<meta name="author" content="" />
<link rel="stylesheet" type="text/css" href="../css/style.css" />
<meta content="yes" name="apple-mobile-web-app-capable"/>
<meta content="black" name="apple-mobile-web-app-status-bar-style"/>
<meta content="telephone=no" name="format-detection"/>
<script>
var logined = 0
</script>
<title>横琴企业专属网页</title>
</head>
<body>
<script>
var now_page = 1,
search_value = '';
</script>
	<div id="header">
		<div class="wrap">
			<!-- <i class="menu_open"></i> -->
			<div class="logo" style="color: white;text-align:center;"><h3>横琴企业专属网页</h3></div>
			<!-- <i class="search_open"></i> -->
		</div>
		<div class="logo_msk"></div>
	</div>
	<div id="container">
		<!--<div id="sort">
			 <table width="100%" border="0" cellspacing="0">
				<tr>
					<td class="sort_left">
						<div class="sort_cate">
							<div class="sort_b"><a href="#" onclick="return false;"><div class="sort_b_inner"><i class="cate_default"></i><span>积分详情</span><div class="clear"></div></div></a></div>
						</div>
					</td>
				</tr>
			</table> 
		</div>-->
		<div id="content">	
			<div id="list">
				<div class="score_show">
					<div class="score">
						<span>活动积分：</span>
						<div id="scoreShow"></div>
					</div>		
				</div>
				<ul>
					<li>
						<div class="wrap">
							<a class="alist">
								<div class="list_info">
									<h3>积分规则：</h3>
									<div>1.登录横琴企业专属网页，查看了解使用企业专属网页，登录计1分，登录办事计2分，每天最高累积2分，共50分。</div><br/>
									<div>2.在“横琴企业专属网页”公众号进行问卷调查和提交问卷答案（提交时需要提供公司名称和企业专属网页账号），问卷共15题，每答对一道题得2分，共30分。</div><br/>
									<div>3.企业用户在横琴企业专属网页里提出意见，每条意见计2分（提交时需要提供公司名称和横琴企业专属网页账号），共计10分。</div><br/>
									<div>4.把横琴企业专属网页微信公众号上的文章分享在微信朋友圈，点赞人数达5人以上的每篇文章计1分（截图发送到微信公众号，提交时需要提供公司名称和横琴企业专属网页账号），共10分。</div><br/>
								</div>
								
							</a>
						</div>
					</li>
				</ul>
				
				<!--<div class="list_loading"><i></i><span>努力加载中...</span></div>-->
			</div>
		</div>
		<div class="push_msk"></div>
	</div>
	<div id="sort_content">
		<div class="asort">
			<div class="hd">
				<div class="wrap">
					<div class="fl"><span>积分详情</span><div class="clear"></div></div>
					<div class="fr"></div>
					<div class="clear"></div>
				</div>
			</div>
			<div class="ct">
				<div class="wrap">
					<div class="clear"></div>
				</div>
			</div>
		</div>
	</div>
	<script language="javascript" src="../templates/gongzhonghao/js/zepto.min.js"></script>
	<script language="javascript" src="../templates/gongzhonghao/js/fx.js"></script>
	<script language="javascript" src="../templates/gongzhonghao/js/script.js"></script>
	<script type="text/javascript" src="../js/bootstrap/jquery-1.11.1.min.js"></script>
	<script type="text/javascript"  src="../componets/business/searchScore.js" ></script>
</body>
</html>